body {
    margin: 0;
    padding: 0;
}

#video-grid {
    display: grid;
    gap: 10px; /* Space between videos */
    justify-content: center;
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%; /* Prevent videos from becoming too large */
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main_left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main_right {
    display: none; /* Hide by default */
}

.main_videos {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.main_controls {
    display: flex;
    justify-content: space-between;
    background-color: #1c1E20;
    color: #D2D2D2;
    padding: 5px;
}

.main_controls_block {
    display: flex;
}

.main_controls_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main_controls_buttons:hover {
    background-color: #343434;
    border-radius: 5px;
}

.main_controls_buttons i {
    font-size: 24px;
}

.leave-meeting {
    color: #EB534B;
}

.main_right {
    display: flex;
    flex-direction: column;
    background-color: #242324;
    border-left: 1px solid #3D3D42;
}

.main_header {
    color: #F5F5F5;
    text-align: center;
}

.main_chat_window {
    flex-grow: 1;
    overflow-y: scroll;
}

.main_message_container {
    padding: 22px 12px;
    display: flex;
}

.main_message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
    padding: 5px;
}

.message {
    color: #D2D2D2;
    list-style: none;
}

/* Default (smaller devices) */
#video-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Two columns maximum */
}

/* Small devices (sm) */
@media (min-width: 576px) {
    #video-grid {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
}

/* Medium devices (md) */
@media (min-width: 768px) {
    #video-grid {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
}

/* Large devices (lg) */
@media (min-width: 992px) {
    .main {
        flex-direction: row;
    }

    .main_left {
        flex: 0.85;
    }

    .main_right {
        display: flex;
        flex: 0.15;
    }

    #video-grid {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }

    .main_controls_buttons {
        min-width: 100px;
    }
}
